
.App-logo {
  width: 70%;
  margin-top: 30%;
  z-index: 2;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4))
}

.App-background{
  color: white;
  text-align: center;
}

.App-background {
  background-image: url('./images/bread.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}


div.App-Intro-Btns{
  margin-top: 45%;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.Btn-Shadow{
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  background-color: #F5BB23;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.App-title {
  font-size: 1.2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  padding-top: .5rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  /* color: white; */
}

.App-intro {
  font-size: large;
}

