body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.hed {
  font-weight: 500px;
}

.subhed {
  font-weight: 100px;
}

/* FORMS */
label {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .7rem;
  word-spacing: .1rem;
}


